[Desktop Entry]
Type=Application
Name=EmuLuna
Comment=Your retro games, together
Exec=emuluna %F
Icon=emuluna
Terminal=false
Categories=Game;Emulator;
StartupWMClass=emuluna
